# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/

# Gradle
build/
.gradle/

# Minecraft run directories
run/
runs/
run-data/

# NeoForge / modding directories
classes/
logs/

# Keep your published mod jars, ignore everything else
*.jar
!build/libs/*.jar

# Datagen outputs
src/generated/resources/

# Local repo cache
repo/
